#body{
  background-image: url(./imgs/canciones/body.jpg);
  

}

.contenedorli{
    display: flex;
    flex-direction: row;
    margin-left: -50px;
    background-color: rgba(255, 255, 255, 0.062);
    margin-bottom: 20px;
    
}
.buscador{
    margin-bottom: 30px;
}

.lista{

    list-style: none;
    width: 250px;
    height: 350px;
    background-color: rgba(255, 255, 255, 0.322);
    margin-left: 50px;

    display: flex;
    
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    
    
}
.artista{
    margin-top: 10px;
    text-decoration: none;
    color: black;
}
.imgmusica{
    
    width: 200px;
    height: 200px;
    border-radius: 200px;
    padding: 0,5px;
    margin-bottom: 19px;
    border-style: solid;
   
    
}

.titulocancion{
    text-align: center;
    font-weight:bolder ;
    text-decoration: none;
    color: black;
}
.encabezado{

    background-color: black;
    color: white;
    width: 120px;
    border-radius: 50px;
    height: 38px;
    

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}
.centrar{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contenedornav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    border-style: solid;
    width: 1450px;
    background-color: rgba(0, 0, 0, 0.455);
    border-radius: 50px;
    padding: 10px;
    margin-left: 30px;
    

}
.listanav{
    list-style: none;
    background-color: rgba(255, 255, 255, 0.619);
    align-self: center;
    width: 180px;
    height: 80px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.headdeco{
    
    text-decoration: none;
    font-weight: bold;
    color: black;
    margin-top: 30px;
}

#bot{
    background-color: silver;
    height: 100px;
    border-radius: 100px 100px 0px 0px ;
    display: flex;
    flex-wrap: wrap;
   justify-content: center;
   margin-top: 40px;
    
    

}
.contenedorfoot{
    display: flex;
    flex-direction: row;
   
    
}
.nombresfoot{
    list-style: none;
    width: 250px;
    height: 35px;
    align-self: center;
}
.contacto{
    text-decoration: none;
    color: rgb(23, 22, 22);
}

.artist-resultados{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 40px;
}
.imgres{
    border-radius: 1000px;
    width: 400px;
}
.divartist{
   text-align: center;
   background-color: rgba(255, 255, 255, 0.178);
   padding: 20px;
   border-radius: 30px;
   width: 600px;
   align-self: center;
   margin-bottom: 60px;
}



.nodeco{
    color: black;
    text-decoration: none;
}

.titulos{
    color:black;
    background-color: rgba(255, 255, 255, 0.729);
    text-align: center;
    width: 99%;
    text-decoration: none;
    padding: 10px;
}

.babypaulores{
    border-radius: 30px;
    width: 300px;
}
.track-res{
   
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    background-color: rgba(255, 255, 255, 0.116);
    height: 350px;
    
    
}
.subtitulos{
    text-decoration: none;
    text-align: center;
    color: rgba(245, 245, 245, 0.688);
    font-size: 40px;
   
}
.fondo-li-res{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 50px;
    width: 200px;
    justify-content: center;
}
.ul-res{
    list-style: none;
}
.simbolos{
    display: flex;
    list-style: none;
    background-color: white;
    width: 60px;
    justify-content: center;
    border-radius: 40px;
    margin-left: 40px;
    
}
.space{
    margin-right: 30px;
    margin-left: -30px;
}


   

.titulo1{
    text-align: center;
    font-family: 'Rubik', sans-serif;
    color: white;
}
.imgcan{
    margin: 5px;
    padding: 2px;
    border-radius: 4px;
    width: 150px;
    text-align: right;
}
.iconos{
    font-size: 75px;
}
.iconos1{
    font-size: 65px;
}
.t2{
    font-family: 'Rubik', sans-serif;
    color: white;
    text-align: center;
    
    
    
}
.spotify{
    background-color: #52525241;
    border-radius: 10px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.116);
    margin: 10px;
    display: grid;
    grid-template-columns: 0.8fr 3.7fr 0.5fr;
 align-items: center;
}
.t1{
    color: white;
}
.abc{
    grid-template-rows: 1f 1f;
    font-family: 'Rubik', sans-serif;
    margin-right: 1em;
    text-decoration: none;outline: none;
    
}

#generos-text {
    font-size: 30px;
    font-family:'Rubik', sans-serif ;
    font-style: italic;
    text-align: center;
    padding: 10px;
  }
  
  .generos-text2 {
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    font-style: bold;
    text-align: center;
    padding: 10px;
  }
  
  .image{
    position: relative;left: 480px;
    width: 50%;
    height: 50%;
    }

.rock{
    background-color: rgba(0, 0, 0, 0.881);
    color:white;
    max-width: 20%;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-style: italic;
    bottom: 600px;
    
}
.hiphop{
    background-color:  rgba(0, 0, 0, 0.881);
    color: white;
    max-width: 20%;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-style: italic;
}
.electronica{
    background-color: rgba(0, 0, 0, 0.881) ;
    color: white;
    max-width: 20%;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
font-style: italic;
bottom: -200px;

}
.nombregenero{
    margin: 10px auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
.Daddy{
    background-color: #52525241;
    border-radius: 10px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.116);
    margin: 10px;
    display: grid;
    grid-template-columns: 0.8fr 3.7fr 0.5fr;
 align-items: center;
}
.imgcan1{
    margin: 5px;
    padding: 2px;
    border-radius: 4px;
    width: 130px;
    text-align: right;
    max-height: 120px;
}
.abcd{
    grid-template-rows: 1f 1f;
    font-family: 'Rubik', sans-serif;
   text-decoration: none;outline: none;
    font-size: larger;
    color: rgba(245, 245, 245, 0.688);
    font-style: bold;
}
.r{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  font-style: italic;
  color: black;
  font-size: 40px;
  text-decoration: underline;
}
.rr{
    font-family: 'Rubik', sans-serif;
    font-style: italic;
    text-align: center;
}
.rrr{
    font-family: 'Rubik', sans-serif;
    font-style: bold;
    font-size: 22px;
  
}

.homerunimg{
  width: 500px;
    text-align: center;
    max-height: 600px;
position: relative;top: 10px;left: 980px;
}
.talvez{
    color:rgb(195, 97, 67);
    background-color: rgba(201, 199, 199, 0.729);
    text-align: center;
    width: 100%;
    text-decoration: none;
   font-family: 'Rubik', sans-serif;
}
.titulo{
    color:rgb(195, 97, 67);
    background-color: rgba(201, 199, 199, 0.729);
    width: 40%;
    text-align: center;
font-family: 'Rubik', sans-serif;
}

.albump{
position: relative;left: 1000px;
color: rgb(231, 217, 217);
bottom: 500px;

}
.albumti{
    text-align: center;
    font-family: 'Rubik', sans-serif;
    background-color: #52525241;
    color: rgb(231, 217, 217);
}
.albumti1{
    font-family: 'Rubik', sans-serif;
    font-style: italic;
    bottom: 10px;
    color: rgb(231, 217, 217);
}
.pl{
    width: 500px;
    height: 500px;
    position: relative;left: 500px;
}
.pl1{
    text-align: center;
    font-family: 'Rubik', sans-serif;
    background-color: #efe7e741;
}
.pl2{
  position: relative;left: 10px;
}
.pl3{
    font-family: 'Rubik', sans-serif;
    font-style: italic;
    color: white;
}